################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HospitalInformationSystem/.vs/WebApp/FileContentIndex/3c0bc699-3e8a-4b8d-ae33-1aa4f48a02aa.vsidx
