@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>
<head>
    <link href="~/css/login.css" rel="stylesheet" />
</head>
<div class="login-box">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Yeni Uye Oluştur</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="user-box">
                <input asp-for="Input.Ad" class="form-control" autocomplete="" aria-required="true" />
                <label asp-for="Input.Ad"></label>
                <span asp-validation-for="Input.Ad" class="text-danger"></span>
            </div>

            <div class="user-box">
                <input asp-for="Input.Soyad" class="form-control" autocomplete="" aria-required="true" />
                <label asp-for="Input.Soyad"></label>
                <span asp-validation-for="Input.Soyad" class="text-danger"></span>
            </div>

            <div class="user-box">
                <input asp-for="Input.Adres" class="form-control" autocomplete="" aria-required="true" />
                <label asp-for="Input.Adres"></label>
                <span asp-validation-for="Input.Adres" class="text-danger"></span>
            </div>


            
            <div class="user-box">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="user-box">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password">Parola</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="user-box">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword">Parola Onayla</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Kayıt Ol</button>
        </form>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
